<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>

    <center>
        <form method='POST'>
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Login"/>
          <input type="button" value="Register" onclick="window.location.href='/register'"/>
          {% if error %}
            <p>{{error}}</p>
          {% endif %}
    </center>


</body>
</html>