<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    {% if user %}
        <div>
            <img src="{{user.profile_picture}}" alt="Profile Picture" width="100" height="100">
            <p>Username: {{user.username}}</p>
            <p>Bio: {{user.bio}}</p>
            <p>Followers: {{user.follower}}</p>
            <p>Following: {{user.following}}</p>
        </div>
        <div>
            <input type="button" value="Edit Profile" onclick="window.location.href='/user/edit/{{user.username}}'"/>
            <input type="button" value="Change Password" onclick="window.location.href='/user/change_password/{{user.username}}'"/>
            <input type="button" value="Logout" onclick="window.location.href='/logout'"/>
        </div>
    {% else %}
        <div>
            <p>User not found</p>
        </div>
    {% endif %}
</body>
</html>
